sep {
    font-size: .8em;

}
name {
    font-size: 1.5em;
}
date {
    font-size: 1em;
}
.seperator {
	text-align: center;
	margin-bottom: 8vh;
}
.title_date {
	margin-left: 5vw;
} 
.content {
	margin-left: 5vw;
	margin-top: 2vh;
}
.blog_post {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5vh;
    text-decoration: none;
    color: black;
    height: 30px;
}
.blog_post:hover {
	background: rgba(255, 250, 250, 1.85);
    text-decoration: none;
    box-shadow: none;
    color: black;
	background: rgba(220, 220, 220, 0.85);
}
ex {
    color: gray;
}
d {
    font-size: 1.3rem;
    color: gray;
}
