.project_hover {
	display: inline-block;
	padding: 0;
	width: 100%;
    height: 100%;
	overflow: hidden;
    text-decoration: none;
    box-shadow: none;
    color: black;
}
.project_hover:hover {
	background: rgba(220, 220, 220, 0.25);
    transition-timing-function: ease-in;
}
.grid-container {
    display: grid;
    margin-left: 3%;
    margin-right: 3%;
    grid-template-columns: 34%;
}
.grid-container .col-1 {
    grid-column: 1 / 2;
    margin-right: 5%;
}
.grid-container .col-2 {
    grid-column: 2 / 3;
    margin-right: 5%;
}
.grid-container .col-3 {
    grid-column: 3 / 4;
}
.row {
    margin-bottom: 3vh;
}
